<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/begin.css">
    <title>DES加解密系统</title>
</head>
<body>
    <div id="intro" class="intro">
        <img id="introImage" src="/static/begin.jpg" alt="Intro Image">
        <h1 id="introText">欢迎使用DES算法加解密系统</h1>
        <img id="newImage" src="/static/name.png" alt="New Image">
    </div>
    <footer class="footer">
        <p>邮箱：1635487611@qq.com</p>
    </footer>
    <script src="/static/begin.js"></script>
</body>
</html>